

#banner{
  background-image: url("../images/banner.jpg");
  height: 750px;
  width: 100vw;
  z-index: 1;
}

#header{
  height: 105px;
  width: 90vw;
  margin: 0 5vw;
  padding: 30px 0;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #66697E;
}

.containerBanner{
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  color: white;
  z-index: -1;
}

.containerBanner > h1 {
  text-transform: uppercase;
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1em;
  margin: 20px 0 10px;
}

.containerBanner > p{
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 80px;
}