@import "features";
@import "footer";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.socialIcons, .footerItem a {
  border: 1px solid rgb(232, 236, 238);
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
  transition: background-color, color, 0.3s;
}

.button {
  background-color: $accent-color;
  text-transform: uppercase;
  padding: 15px 40px;
  color: white;
  width: max-content;
  margin: 0 auto;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  transition: background-color 0.3s;

  @media screen and (min-width: $lg) {
    cursor: pointer;
    line-height: 1.4em;
    text-decoration-style: solid;
    &:hover {
      background-color: red;
    }
  }
}