@import "break-points";


#testimonials{
  position: relative;

  background-color: #53354a;

  width: 100%;

  margin-bottom: 100px;

  .radioBox{
    z-index: 1;
    bottom: 5px;
    display: flex;
    justify-content: center;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    *{
      margin: 0 10px;
    }
  }

  @media screen and (min-width: $lg) {

    .radioBox {
      left: 80%;
      transform: translateX(-80%);
    }
  }
}

.slide{
  width: 100%;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  position: relative;
  transition:  opacity 1s;


  & + &{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }


  img{
    width: 100%;
  }

  blockquote{
    display: flex;
    flex-direction: column;

    width: 95%;
    padding: 2.5% 2.5% 0;

    color: white;
    overflow: hidden;

    .quoteText{
       font-size: 36px;
       font-family: Cardo, Georgia, "Times New Roman", serif;


      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
      line-height: 1.03em;
    }

    .quoteAuthor{
      margin: 30px 0 60px;

      font-family: "Raleway", sans-serif;
      font-size: 13px;
    }
  }

  @media screen and (min-width: $lg) {
    flex-direction: row;

    img{
      width:50%;
    }
  }
}


.activeSlide{
  opacity: 1;
  visibility: visible;
}


