

#works{
  display: flex;
  //justify-content: space-between;
  flex-wrap:wrap;
  width: 100%;
}

.worksItem{
  flex:1;
  flex-basis: 400px;
  margin: 1px;

  overflow: hidden;
  position: relative;
}

.worksItem > img{
  z-index: 5;
  position: relative;
}

.filter{
  position: absolute;
  top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  z-index: 9990;
}