
#works {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.nameProject {
  margin-top: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.designWebsite {
  margin-top: 250px;
  font-weight: 400;
}


.work {
  overflow: hidden;
  height: 320px;
  flex: 1;
  flex-basis: 320px;
  position: relative;
  cursor: pointer;

  img {
    transition-property: transform;
    transition-duration: 0.8s;
  }

  .overlay {
    transition-property: all;
    transition-duration: 0.8s;
    opacity: 0;
    background-color: rgba(232, 69, 69, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;


    * {
      text-align: center;
      transition: all 0.8s;

      color: white;
      font-size: 14px;
    }
  }

  &:hover {
    .overlay {
      opacity: 1;

      .nameProject {
        margin-top: 145px;
      }

      .designWebsite {
        margin-top: 20px;
      }
    }

    img {
      transform: scale(1.2);
      transform-origin: center;
    }
  }
}

.workCard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.6s;

  z-index: 9999;
}

.openWorkCard {
  opacity: 1;
  visibility: visible;
}

#photoCard {
  max-width: 800px;
  width: 90%;
  border: 20px solid white;
  border-radius: 4px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  img {
    width: 100%;
  }

  .closeButton {
    position: absolute;
    top: -38px;
    right: -45px;
    width: 46px;
    height: 36px;

    overflow: hidden;

    cursor: pointer;

    z-index: 10000;

    img {
      width: 100%;
    }
  }
}